<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifnoif.androidtestdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="miui.permission.powerkeeper.HIDDEN_MODE_PROVIDER"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>


    <!--<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />-->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true"
        android:name=".MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".share_transation.MainShare" />
        <activity android:name=".share_transation.TargetShare" />
        <activity android:name=".ORM.RealmActivity" />
        <activity android:name=".account.AccountMainActivity" />
        <service android:name=".ORM.RealmTestService" android:process=":p1" />

        <service android:name=".intent_test.TaskService" />
        <service
            android:name=".intent_test.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".intent_test.PushService"
            android:process=":my_push"/>
        <receiver android:name=".alarm.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="com.syh.action.alarm"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".alarm.AlarmIdleBroadcastReceiver">
            <intent-filter>
                <action android:name="com.syh.action.idlealarm"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".alarm.AlarmClockBroadcastReceiver">
            <intent-filter>
                <action android:name="com.syh.action.alarmclock"/>
            </intent-filter>
        </receiver>

        <service android:name=".alarm.ForegroundService"
            android:process=":foreground_service"/>

        <!-- 账户-->
        <service
            android:name=".account.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".account.StubProvider"
            android:authorities="com.myprovider"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".account.SyncService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />

        </service>

        <service android:name=".alarm.BindTestService" />

    </application>

</manifest>